<div style="margin-left: 35%; margin-top:30px; width: 300px;">
  <div class="title-wrapper d-flex justify-content-between" style="width: 100%;">
    <p>*必填欄位</p>
    <h5 class="mr-4">請修改你的支出</h5>
  </div>

  <form action="/records/{{record._id}}?_method=PUT" method="POST" style="margin-top: 30px;">
    {{!-- Expense Name --}}
    <div class="new-list-wrapper d-flex justify-content-between align-items-center my-3">
      <h5>名稱*：</h5>
      <div class="input-group" style="width: 200px;">
        <input type="text" class="form-control" name="name" value="{{record.name}}" required>
      </div>
    </div>

    {{!-- Expense Date --}}
    <div class="new-list-wrapper d-flex justify-content-between align-items-center my-4">
      <h5>日期*：</h5>
      <div class="input-group" style="width: 200px;">
        <input type="date" class="form-control" name="date" value="{{record.dateString}}" required>
      </div>
    </div>

    {{!-- Expense Category --}}
    <div class="new-list-wrapper d-flex justify-content-between align-items-center my-3">
      <h5>類別*：</h5>
      <div style="width: 200px;">
        <select name="category" class="form-control">
          <option value="{{record.category}}" selected>{{record.category}}</option>
          {{#each categories}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{!-- Expense Amount --}}
    <div class="new-list-wrapper d-flex justify-content-between align-items-center my-4">
      <h5>金額*：</h5>
      <div class="input-group" style="width: 200px;">
        <input type="number" class=" form-control" name="amount" value="{{record.amount}}" required>
      </div>
    </div>

    {{!-- Create Button --}}
    <div class="d-flex flex-row-reverse my-4">
      <button class="btn btn-warning btn-outline-dark" type="submit" style="width: 200px;">送出</button>
    </div>
  </form>
  <a class="d-flex flex-row-reverse my-4" href="/" style="text-decoration: none;">
    <button class="btn btn-info btn-outline-dark" style="width: 200px;">返回</button>
  </a>
</div>