<div style="margin-left: 35%;">
  {{!-- Type select --}}
  <div class="my-5" style="width: 300px;">
    <form action="/filter" method="POST">
      <select name="category" class="form-control" onchange="this.form.submit()">
        {{#if targetCategory}}
        <option selected>{{targetCategory}}</option>
        {{else}}
        <option selected>類別</option>
        {{/if}}
        {{#each categories}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </form>
  </div>

  {{!-- Total Amount --}}
  <div class="d-flex my-2" style="width: 300px;">
    <div class="Total-wrapper d-flex justify-content-between" style="width: 100%;">
      <div class="description">總金額：</div>
      <h1 class="amount text-warning">{{totalAmount}}</h1>
    </div>
  </div>

  {{!-- Record List --}}
  <div class="d-flex">
    <div class="RecordList-wrapper">
      {{#each records}}
      <div class="d-flex align-items-center">
        <div class="Record-wrapper d-flex align-items-center m-1 px-3"
          style="height:60px; background-color: #ddddaa; border-radius: 15%; width: 300px;">
          <span style=" font-size: 2em; color: Tomato; width: 35px;">
            {{{this.categoryImage}}}
          </span>
          <div class="m-2">
            <h6 class="m-0">{{this.name}}</h6>
            <p class="m-0">{{this.dateString}}</p>
          </div>
          <h3 class="ml-auto">{{this.amount}}</h3>
        </div>
        <form class="ml-4" action="/records/{{this._id}}/edit" method="GET" style="text-decoration: none;">
          <button type="submit" class="btn btn-link">修改</button>
        </form>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="text-decoration: none;">
          <button type="submit" class="btn btn-link">刪除</button>
        </form>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- Add new button --}}
  <div class="my-5" style="margin-left:80px;">
    <a href="/records/new">
      <button type="button" class="btn btn-warning btn-outline-dark" style="width: 150px;">新增支出</button>
    </a>
  </div>
</div>